[submodule "algos/ae"]
	path = algos/ae
	url = ssh://10.10.10.58:29418/rv1109_rkaiq_aec
[submodule "algos/awb"]
	path = algos/awb
	url = ssh://10.10.10.58:29418/rv1109_rkaiq_awb
[submodule "algos/af"]
	path = algos/af
	url = ssh://10.10.10.58:29418/rv1109_rkaiq_afc
[submodule "algos/asd"]
	path = algos/asd
	url = ssh://10.10.10.58:29418/rv1109_rkaiq_asd
